* {
    margin: 0;
    padding: 0;
}

#mainElement {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* HEADER */
#header {
    flex: 0 0 6vh;
    background-color: red;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#logo {
    background-color: blueviolet;
    min-width: fit-content;
    width: 200px;
    height: 4vh;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTENT */
#content {
    flex: 1 1 auto;
    background-color: green;
    display: flex;
}

#leftPanel {
    background-color: aquamarine;
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 5vh;
    padding-left: 3vh;
}

#boardsPanel {
    background-color: brown;
    flex: 13;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#leftBoard, #rightBoard {
    flex: 1;
    background-color: pink;
    display: grid;
    grid-template-rows: 4vh 1fr;
    align-items: center;
    height: 100%;
}

#leftText, #rightText {
    justify-self: center;
}

#playerBoard, #enemyBoard {
    display: grid;
    margin: 5px;
    border: 2px solid rgb(0, 50, 50);
}

.box {
    background-color: rgb(50, 100, 250);
    border: 1px solid rgb(0, 50, 50);
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
}

.displaybox {
    background-color: rgb(50, 100, 250);
    border: 1px solid rgb(0, 50, 50);

    aspect-ratio: 1 / 1;
}

.boat {
    display: flex;
}

.box:hover:not(.ship):not(.playerside)[data-hit="false"] {
    box-shadow: 0px 0px 20px red;
    z-index: 1;
    background-color: rgb(40, 80, 200);
    cursor: default;
}

.box:active:not(.ship):not(.playerside)[data-hit="false"] {
    background-color: rgb(30, 60, 150);
}

.ship {
    background-color: rgb(40, 50, 60);
}





/* FOOTER */
#footer {
    flex: 0 0 8vh;
    background-color: rgb(50, 100, 250);
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainButton {
    min-width: fit-content;
    width: 175px;
    height: 40px;
    max-height: 90%;

}