* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'bebas';
    src: url('./fonts/bebas.ttf');
}

#header, #leftPanel, #footer, #leftText, #rightText, button{
    font-family: 'bebas';
}

#mainElement {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* HEADER */
#header {
    flex: 0 0 6vh;
    background-color: rgb(15, 78, 136);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2mm ridge rgba(27, 40, 76, 0.6);
}

#logo, #logoText {
    min-width: fit-content;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    margin-left: 20px;
    padding-left: 10px;
    font-size: 2rem;
}

#logoText {
    width: 200px;
    font-size: 2.4rem;
}

/* CONTENT */
#content {
    flex: 1 1 auto;
    background-color: green;
    display: flex;
}

#leftPanel {
    background-color: rgb(23, 117, 204);
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-top: 2.3vh;
}

#logsText, #logs, #newGameButton {
    width: 90%;
}

#logsText {
    text-align: center;
    font-size: 1.5rem;
}

#logs {
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: rgb(41, 60, 107);
    height: 60vh;
    max-height: 60vh;
    border: 2mm ridge rgba(27, 40, 76, 0.6);
    color: white;
    font-size: 1.1rem;
    gap: 10px;
}

#logs > .gold {
    color: gold;
}

.logLine {
    margin-left: 10px;
}

button {
    height: 5%;
    background-color: rgb(42, 97, 66);
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
}

button:not(.disabled){
    background-color: rgb(57, 176, 136);
    box-shadow: 0px 0px 5px rgb(16, 3, 109);
}

button:hover:not(.disabled) {
    box-shadow: 0px 0px 12px rgb(16, 3, 109);
}

button:active:not(.disabled) {
    box-shadow: none;
    background-color: rgb(36, 107, 83);
}

#boardsPanel {
    background-color: rgb(23, 117, 204);
    flex: 13;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#leftBoard, #rightBoard {
    flex: 1;
    display: grid;
    grid-template-rows: 4vh 1fr;
    align-items: center;
    height: 100%;
}

#leftText, #rightText {
    justify-self: center;
    padding-top: 3vh;
    font-size: 2rem;
}

#playerBoard, #enemyBoard {
    display: grid;
    margin: 5px;
    border: 2px solid rgb(0, 50, 50);
}

.box, .enemyBox {
    background-color: rgb(50, 100, 250);
    border: 1px solid rgb(0, 50, 50);
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.1vw;
}

.ship.dead {
    background-color: rgb(111, 13, 39);
}

.displaybox {
    background-color: rgb(34, 168, 136);
    border: 1px solid rgb(0, 50, 50);
    aspect-ratio: 1 / 1;
}

.boat {
    display: flex;
}

.boat:hover {
    box-shadow: 0px 0px 20px rgb(102, 227, 102);
}

#dragText {
    font-size: 1.3rem;
    padding-top: 20px;
    justify-self: flex-end;
}

.enemyBox:hover[data-hit="false"]:not(.disabled) {
    box-shadow: 0px 0px 20px red;
    z-index: 1;
    background-color: rgb(40, 80, 200);
    cursor: default;
}

.enemyBox:active:not(.ship)[data-hit="false"]:not(.disabled) {
    background-color: rgb(30, 60, 150);
}

.highlightbox:not(.ship) {
    box-shadow: 0px 0px 15px rgb(28, 188, 132);
    z-index: 1;
    background-color: rgb(28, 188, 44);
}



.highlightbox.ship {
    box-shadow: 0px 0px 20px red;
    z-index: 1;
    background-color: red;
}

.ship {
    background-color: rgb(40, 50, 60);
}



/* FOOTER */
#footer {
    flex: 0 0 8vh;
    background-color: rgb(23, 117, 204);
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainButton {
    min-width: fit-content;
    width: 175px;
    height: 40px;
    max-height: 90%;

}